<div class="p-3">
  <div class="card">
    <div class="card-body">
      <div class="card-body">
        <input type="text" [(ngModel)]="keyword">
        <button (click)="searchProduct()" class="btn btn-outline-success">
        <i class="bi bi-search"></i>
        </button>
      </div>
        <table class="table">
          <thead>
          <th>name</th>  <th>price</th>   <th>checked</th>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{product.name}}</td>
              <td>{{product.price}}</td>
              <td>
                <button (click)="handleCheckedProduct(product)" class="btn btn-outline-success">
                  <i [class]="product.checked? 'bi bi-check':'bi bi-circle' "></i>
                </button>
              </td>
              <td>
                <button (click)="handleDeleteProduct(product)" class="btn btn-outline-danger">
                  <i class="bi bi-trash" ></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
